<!doctype html>

<body>
{% include layout_header_navbar.html %}
<div id="container">
  <div class="container">
    <main role="main">

      <div class="container">
        <br>
        <center><h1>{{ page.title }}</h1></center>
          <div class="container-fluid">
<!--             <div class="row justify-content-center"> -->
            <div class="row flex-fill">  
              {% include wbs_list.html %}

              {% assign areas = wbs_list | hash_fetch: site.data.orgs | where_exp:"item", "item.wbs_no == page.wbs_no" %}

              {% for area in areas %}
                {% assign members = area.personnel | hash_fetch: site.data.people
                                                   | where_exp:"item", "item.active and item.hidden != true" %}

                {% for person in members %}
                  {% include standard_person_card.md person=person %}
                {% endfor %}
              {% endfor %}
            </div>
          </div>

        {{content}}
      </div>
    </main>
  </div>

      {% include footer.html %}
</div>
</body>
</html>
